h4 {
  margin: 0%;
}

p {
  margin: 0%;
}

.overdue {
  margin: 0%;
  color: red !important;
}

.inner-content {
  margin: '0 16px';
}

.ant-layout .ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  background-color: #0e7490 !important;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #f1f5f9 !important;
}

/* .ant-menu-vertical > .ant-menu-submenu {
    background-color: #0E7490 !important
} */

.ant-dropdown-menu {
  max-height: 250px;
  overflow: auto;
}

.datePicker .ant-picker-input > input {
  color: transparent;
}

.ant-menu-vertical {
  background-color: #0e7490 !important;
  /* height: 100%; */
}

.ant-table-body {
  overflow-x: hidden;
}

.ant-card .ant-card-body {
  padding: 24px 24px 0px 24px;
}

.ant-card .ant-card-head {
  min-height: 45px;
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 12px 0px 12px 0px;
}

.ant-list .ant-list-item {
  padding: 0%;
}

.ant-layout .ant-layout-header {
  padding: 0;
}

.ant-avatar {
  cursor: pointer;
}

.show-more-btn {
  background-color: #ffffff;
}

.edit-icon:hover {
  color: #0e7490;
  cursor: pointer;
}

.project-end-row {
  padding: 10px;
}

/* .fileListSpace:hover {
  background-color: green !important;
}

.hide:hover {
  background-color: green !important;
} */

.fileListSpace:hover .hiddenBtn .btnIcon {
  display: flex !important;
}

.custom-table-row {
  background-color: white;
}

.dont-show .ant-select-selection-item {
  display: none !important;
}

.panel-row {
  background-color: #f6f1f1;
  margin-bottom: 8px;
  border-radius: 8px !important;
}

.ant-popover-inner {
  padding: 15px !important;
}

.custom-sider .ant-layout-sider-trigger {
  background-color: #0e7490;
}

.ant-btn-primary {
  box-shadow: none;
}

.project-row:hover .project-end-btn {
  display: block !important;
}

.project-btn {
  color: #000000;
  background-color: #d1d5db;
}

.project-end-btn {
  color: #000000;
  background-color: #d1d5db;
}

.project-end-btn:hover {
  color: #ffffff !important;
  background-color: #0e7490;
}

.project-btn:hover {
  color: #ffffff !important;
  background-color: #0e7490;
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  height: 20px;
}
.ant-form-item
  .ant-form-item-control:first-child:not([class^="'ant-col-'"]):not(
    [class*="' ant-col-'"]
  ) {
  max-width: 100% !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  font-style: normal;
  font-size: 14px;
  color: #cececc;
  font-family: 'Roboto';
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
