#components-layout-demo-basic .code-box-demo {
  text-align: center;
}

.ant-layout-footer {
  color: #ffffff;
  background: #ffffff !important;
}

.ant-layout-header {
  background: #ffffff !important;
}

.ant-layout-header {
  background: #ffffff !important;
}
#components-layout-demo-basic .ant-layout-footer {
  line-height: 1.5;
}
#components-layout-demo-basic .ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #3ba0e9;
}
.ant-layout-content {
  /* min-height: 120px; */
  /* color: #fff; */
  /* line-height: 120px; */
  background: white;
}
#components-layout-demo-basic > .code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}

.overdue {
  margin: 0%;
  color: red !important;
}

.ant-avatar-group {
  display: contents;
}

.bold-weight {
  font-weight: bold;
  font-size: 24px;
}

.container {
  margin-bottom: 30px;
}

.ant-input-number-lg input.ant-input-number-input {
  height: 100px;
  font-size: 40px;
}
